<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455231209559-0mlu59dm2b0684kfopsnlsvf2vs6q9jm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455231209559-0mlu59dm2b0684kfopsnlsvf2vs6q9jm</string>
	<key>API_KEY</key>
	<string>AIzaSyDyANXvwAGMI11fuO7UEPjeuLRSDBW7FX8</string>
	<key>GCM_SENDER_ID</key>
	<string>455231209559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alike.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-e06db</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-e06db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455231209559:ios:824a7b9152c2931cc72312</string>
</dict>
</plist>